extends shared/starter

append styles
    link(href='/stylesheets/index.css', rel='stylesheet')
    link(href='/stylesheets/profileEdit.css', rel='stylesheet')
    link(href='/stylesheets/css/font-awesome.css', rel='stylesheet')
    
append scripts
    
    script(type='text/javascript').
        var qryUser =!{JSON.stringify(qryUser)}
    script(type='text/javascript').
        var user =!{JSON.stringify(user)}
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='/javascripts/effects.js')
    script(src='/javascripts/profileEdit.js')
block content
    -function FriendlyDate(date1) {var seconds = Math.round((Date.now() - Date.parse(date1)) / 1000); var minutes = Math.round(seconds / 60); var hours = Math.round(minutes / 60); var days = Math.round(hours/24);if(days == 1) return "A day"; if(days>1) return days+" days"; if (hours == 1) return "An hour"; if (hours >= 1) return hours + " hours"; if (minutes == 1) return "A minute"; if (minutes >= 1) return minutes + " minutes"; else return seconds + " seconds";}
    .PageFiller
        .profile-header
            .img-circle.profile-pic(style=typeof qryUser.image === "undefined" ? "" : 'background-image: url(/userimages/#{qryUser.image})' )
                
        .profile-content.container
            .profile-heading
                =qryUser.username
                if(!qryUser.isFriend)
                    <i id="#{qryUser._id}" class="fa fa-user-plus"></i>
            .col-lg-5
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Profile Info
                    .panel-body
                        .col-xs-3.profile-item-title Name
                        .col-xs-7 
                            .text-capitalize.table-content #{qryUser.name}
                        if(qryUser.location)
                            .col-xs-3.profile-item-title Lives in
                            .col-xs-7 #{qryUser.location}
                        .col-xs-3.profile-item-title Joined
                        .col-xs-7 #{qryUser.createdOn.toLocaleDateString()}
                
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Friends
                    .panel-body
                        if(qryUser.friends)
                            each val in qryUser.friends
                                if(val.isAccepted && !val.isBlocked)
                                    .friend-item
                                        a(href="/profile/#{val.user.username}")
                                            .img-circle.friend-item-image(style=typeof val.user.image === "undefined" ? "" : 'background-image: url(/userimages/#{val.user.image})' )
                                        p #{val.user.username}

                        else
                            i No friends yet :(
                                     
            .col-lg-7         
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Recent Actions
                    .panel-body
                        if qryUser.updates
                            each val in qryUser.updates
                                if(val.type=="event")
                                    .panel
                                        .panel-body.profile-action-item <strong>#{qryUser.username}</strong> was <span class="#{val.mood.toLowerCase()}">#{val.mood}</span> at the <strong>#{val.name}</strong> event in <strong>#{val.location}</strong><br> <i>#{FriendlyDate(val.Date)} ago</i>.
                                if(val.type=="moodCircle")
                                    .panel
                                        .panel-body.profile-action-item <strong>#{qryUser.username}</strong> was <span class="#{val.mood.toLowerCase()}">#{val.mood}</span> around <strong>#{val.name}</strong>, <strong>#{val.location}</strong><br><i>#{FriendlyDate(val.Date)} ago</i>.
                        else
                            i Nothing new happened.
            
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Comments
                    .panel-body.comment-body
                        if(qryUser.comments)
                            each val in qryUser.comments
                                .comment-item    
                                    .col-xs-2
                                        a(href="/profile/#{val.author.username}")
                                            .img-circle.comment-item-image(title="#{val.author.username}" style=typeof val.author.image === "undefined" ? "" : 'background-image: url(/userimages/#{val.author.image})' )
                                    .col-xs-10
                                        .panel
                                            .panel-body #{val.comment}
                        else
                            .col-xs-12
                                i No comments yet.                    
                           
                                
                                
                         .col-xs-12
                             .input-group
                                 input.form-control#replyInput(type="text" placeholder="Post a comment")
                                 span.input-group-btn
                                     input.btn.btn-default#reply(type="submit" value="Reply")  
                         