extends shared/starter

append styles
    link(href='stylesheets/index.css', rel='stylesheet')
    link(href='stylesheets/profile.css', rel='stylesheet')
    link(href='stylesheets/css/font-awesome.css', rel='stylesheet')
    
append scripts
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='/javascripts/effects.js')
    script(src='/javascripts/profile.js')


block content
    .inputHidden
        input#ProfileImage(type="file")

    .PageFiller
        .profile-header
            .img-circle(style=typeof user.image === "undefined" ? "" : 'background-image: url(/userimages/#{user.image})' )
                
        .profile-content.container
            .col-lg-6.col-lg-offset-3
                h2 #{user.username}
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        ='Profile Info'
                    .panel-body
                        p Name: #{user.name}
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        ='Friends'
                    .panel-body
                        p Name: #{user.name}
            
