extends shared/starter

append styles
    link(href='/stylesheets/index.css', rel='stylesheet')
    link(href='/stylesheets/profileEdit.css', rel='stylesheet')
    link(href='/stylesheets/css/font-awesome.css', rel='stylesheet')
    
append scripts
    
    script(type='text/javascript').
        var qryUser =!{JSON.stringify(qryUser)}
    script(type='text/javascript').
        var user =!{JSON.stringify(user)}
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='/javascripts/effects.js')
    script(src='/javascripts/profileEdit.js')
block content

    .PageFiller
        .profile-header
            .img-circle.profile-pic(style=typeof qryUser.image === "undefined" ? "" : 'background-image: url(/userimages/#{qryUser.image})' )
                
        .profile-content.container
            .profile-heading
                =qryUser.username
                <a href="/api/users/addFriend/#{qryUser._id}"><i class="fa fa-user-plus"></i></a>
            .col-lg-5
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Profile Info
                    .panel-body
                        .col-xs-3.profile-item-title Name
                        .col-xs-7 
                            .text-capitalize.table-content #{qryUser.name}
                        
                        .col-xs-3.profile-item-title Lives in
                        .col-xs-7 Antwerp
                        .col-xs-3.profile-item-title Joined
                        .col-xs-7 #{qryUser.createdOn.toLocaleDateString()}
                
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Friends
                    .panel-body
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/8cbcb325a24560d2dccbac1a85511351.jpg)' )
                            p Rick Jones
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/2f145616049bbdfe80077b778cc6f6be.png)' )
                            p Fredrick Moss
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/8cbcb325a24560d2dccbac1a85511351.jpg)' )
                            p Rick Jones
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/2f145616049bbdfe80077b778cc6f6be.png)' )
                            p Fredrick Moss
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/8cbcb325a24560d2dccbac1a85511351.jpg)' )
                            p Rick Jones
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/2f145616049bbdfe80077b778cc6f6be.png)' )
                            p Fredrick Moss
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/8cbcb325a24560d2dccbac1a85511351.jpg)' )
                            p Rick Jones
                        .friend-item
                            .img-circle.friend-item-image(style= 'background-image: url(/userimages/2f145616049bbdfe80077b778cc6f6be.png)' )
                            p Fredrick Moss
                                     
            .col-lg-7         
                   
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Recent Actions
                    .panel-body
                        .panel
                            .panel-body.text-capitalize #{qryUser.username} was <span class="happy">happy</span> at the <a href="#">Laundry day</a> event in <a href="#">Antwerp</a>.
                        .panel
                            .panel-body.text-capitalize #{qryUser.username} was <span class="unhappy">unhappy</span> at the <a href="#">Student Festival</a> event in <a href="#">Sint-Niklaas</a>.
            
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Comments
                    .panel-body.comment-body
                        if(qryUser.comments)
                            each val in qryUser.comments
                                .comment-item    
                                    .col-xs-2
                                        .img-circle.comment-item-image(style= 'background-image: url(/userimages/#{val.author.image})' )
                                    .col-xs-10
                                        .panel
                                            .panel-body #{val.comment}     
                                
                                
                         .col-xs-12
                             .input-group
                                 input.form-control#replyInput(type="text" placeholder="Post a comment")
                                 span.input-group-btn
                                     input.btn.btn-default#reply(type="submit" value="Reply")  
                         