extends shared/starter

append styles
    link(href='/stylesheets/index.css', rel='stylesheet')
    link(href='/stylesheets/profileEdit.css', rel='stylesheet')
    link(href='/stylesheets/css/font-awesome.css', rel='stylesheet')
    
append scripts
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='/javascripts/effects.js')
    script(src='/javascripts/profileEdit.js')

script
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

block content
    .inputHidden
        input#ProfileImage(type="file")

    .PageFiller
        .profile-header
            .img-circle.profile-pic.editable(style=typeof user.image === "undefined" ? "" : 'background-image: url(/userimages/#{user.image})' )
                
        .profile-content.container
            .profile-heading
                =user.username
            .col-lg-5
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Profile Info
                    .panel-body
                        .profile-info-item
                            .col-xs-3.profile-item-title Name
                            .col-xs-7.text-capitalize#name
                                 =user.name
                            .col-xs-2 
                                <i class="fa fa-pencil" title="Public"></i>
                                <i class="fa fa-eye-slash" title="Public"></i>
                        .profile-info-item
                            .col-xs-3.profile-item-title Lives in
                            .col-xs-7#location Antwerp
                            .col-xs-2 
                                <i class="fa fa-pencil" title="Public"></i> 
                                <i class="fa fa-eye" title="Public"></i>
                        .profile-info-item
                            .col-xs-3.profile-item-title Joined
                            .col-xs-7 #{user.createdOn.toLocaleDateString('be-BE')}
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Friends
                    .panel-body#friends-accepted
                        if(user.friends)
                            each val in user.friends
                                if(val.isAccepted && !val.isBlocked)
                                    .friend-item
                                        a(href="/profile/#{val.user.username}")
                                            .img-circle.friend-item-image(style=typeof val.user.image === "undefined" ? "" : 'background-image: url(/userimages/#{val.user.image})' )
                                        p #{val.user.username}
                    if(user.friends)
                        -var arePendings = false;
                        each val in user.friends
                            if(!val.isAccepted && !val.isRequest && !val.isBlocked)
                                if(!arePendings)
                                    .panel-body.panel-body-h6#friends-pending
                                        h6
                                            span.line-center Approval pending
                                    -arePendings = true;
                                -break
                    .panel-body
                        each val in user.friends
                            if(!val.isAccepted && !val.isRequest && !val.isBlocked)
                                .friend-item
                                    a(href="/profile/#{val.user.username}")
                                        .img-circle.friend-item-image(style=typeof val.user.image === "undefined" ? "" : 'background-image: url(/userimages/#{val.user.image})' )
                                    i #{val.user.username}
                    
                    if(user.friends)
                        -var areApproval = false;
                        each val in user.friends
                            if(!val.isAccepted && val.isRequest && !val.isBlocked)
                                if(!areApproval)
                                    .panel-body.panel-body-h6#friends-request
                                        h6
                                            span.line-center Friendship requests
                                    -areApproval = true;
                                -break
                    .panel-body
                        each val in user.friends
                            if(!val.isAccepted && val.isRequest && !val.isBlocked)
                                .friend-item.friend-item-accept
                                    a(href="/profile/#{val.user.username}")
                                        .img-circle.friend-item-image(style=typeof val.user.image === "undefined" ? "" : 'background-image: url(/userimages/#{val.user.image})' )
                                    i #{val.user.username} 
                                    br
                                    div(id=val.user._id)
                                        i.fa.fa-check
                                        i.fa.fa-times
            .col-lg-7         
                   
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Recent Actions
                    .panel-body
                        .panel
                            .panel-body.profile-action-item.text-capitalize #{user.username} was <span class="happy">happy</span> at the <a href="#">Laundry day</a> event in <a href="#">Antwerp</a>.
                        .panel
                            .panel-body.profile-action-item.text-capitalize #{user.username} was <span class="unhappy">unhappy</span> at the <a href="#">Student Festival</a> event in <a href="#">Sint-Niklaas</a>.
            
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Comments
                    .panel-body
                        if(user.comments)
                            each val in user.comments
                                -console.log(val.author)
                                .comment-item    
                                    .col-xs-2
                                        a(href="/profile/#{val.author.username}")
                                            .img-circle.comment-item-image(title="#{val.author.username}" style=typeof val.author.image === "undefined" ? "" : 'background-image: url(/userimages/#{val.author.image})' )

                                    .panel.col-xs-10
                                        .panel-body
                                            .col-xs-11
                                                = val.comment
                                            .col-xs-1
                                                a(href="##{val._id}") 
                                                    i.fa.fa-remove
                        else
                            .col-xs-12
                                i No comments yet.      
                       